

<div class="container mt-4">
  <h2>Student List</h2>

  <a routerLink="/add">Add Student</a>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Course</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.course }}</td>
        <td>
          <button (click)="deleteStudent(student.id)">Delete</button>
          <a [routerLink]="['/update', student.id]">Edit</a>
        </td>
       
      </tr>
    </tbody>
  </table>
</div>

<router-outlet />
